* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {height:100%;}

    #conteudo-page {
        min-height:100%;
    } 



body {
    font-family: 'Chau Philomene One', sans-serif;
    /* background-image: linear-gradient(#ffffff,#b5b6ae,#8a8686);
    background-repeat: no-repeat;
     */
}

header i {
    margin-left: 2%;
}
#logo{
    display: none;
}
header input {
    display: none;
}

header figure img {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
header figure{
    display: inline-flex;
    vertical-align: middle; 
}

header h1{
    display: inline;
    font-size: 1.5em;
}

header nav {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 0 10% 5px 10%;
    left: 0;
    width: 100%;
    background-color: black;
}

header nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

header nav a:hover {
    background-color: #f0c305;
    border-radius: 3px;
}

header input:checked~nav {
    display: flex;
}
section{
    display: none;
}
#menu-slide{
    display: none;
}
#apresentacao{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
#apresentacao p{
    width: 80%;
    text-align: center;
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 5%;
    height: 200px;
}
a:link 
{ 
text-decoration:none; 
} 
#redes-sociais{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5%;
}
footer{
    font-family: 'Hind', sans-serif;
    font-size: 0.9rem;
}
footer a{
    color:white;
    padding: 6px;
}

footer p{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 1rem;
}
/* Tablets */
@media screen and (min-width: 768px) {
    #apresentacao p{
        font-size: 1.2rem;
    }
    header h1{
        font-size: 1.7em;
    }

}
/* computadores */
@media screen and (min-width: 1024px) {
    body{
        padding-top: 1%;
        height:100%;
        /* background-image: linear-gradient(#ffffff,#b5b6ae,#8a8686);
        background-repeat: no-repeat;
         */
    }
    header{
        margin-left: 5%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
   header label{
       display: none;
   }
   #logo-mobile{
       display: none;
   }
   #logo{
    display: inline-block;
    }

   header h1{
    font-size: 2rem;
    font-family: 'Luckiest Guy', cursive;
    margin-left: 1%;
    }

   header nav{
       margin-left: 10%;
       background-color: white;
       position: relative;
        width: 70%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
   }
   header nav a{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 25px;
    border-bottom-right-radius: 70% !important; 
    }
    header nav a:hover{
        background-color: #f0c305;
    }
    #apresentacao{
        display: none;
    }
    #menu-slide{
        display: flex;
        justify-content: center;
    }
    aside{
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 1%;
        height:380px;
        width: 700px;
        border-radius: 10px 10px 10px 10px;
    
    
    }
    aside button{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: black;
        color: white;
        border-style: none;
        outline-style: none;
    }
    
    #btn1{
     float: left;
     position: absolute;
     margin-left: -11.3%;
    
    }
    
    #btn2{
        display: inline-block;
        position: absolute;
        margin-left: 725px;
    }
    aside figure{
        height: 380px;
        width: 700px;
        display: flex;
        justify-content: center;
    }

}



